*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}
.mainbody{
    height:100vh;
    width: 100vw;
}

.menu-btn{
    height: 3.5rem;
    width: 3.5rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    position: absolute;
    top: 3rem;
    left: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #b2bec3;
    cursor: pointer;
}

.tool-bar{
    height: 3.5rem;
    width: 25rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    position: absolute;
    top: 3rem;
    left: calc((100vw - 25rem) / 2);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
}

.tool-bar>*{
    font-size: 1.5rem;
    color: #b2bec3;
}

.menu-btn>span{
    font-size: 2rem;
}

.toolBarAni{
    animation-name: toolBarAni;
    animation-duration: .3s;
}

@keyframes toolBarAni {
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);
    }
    
}

.pentool{
    height: 7rem;
    width: 10rem;
    border: 2px rgb(224, 28, 208) solid;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    position: absolute;
    top: 7rem;
    left: 37vw;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 3px;
    /* align-items: flex-start; */
}

.colorTool{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}
.color{
    display: flex;
    height: 2.6rem;
    width: 2.6rem;
    border-radius: 50%;
    border:2px rgb(224, 28, 208) solid ;
}
#penRange{
    width: 100%;
    color: blue;
}
.colorYellow{
    background-color: yellow;
}
.colorRed{
    background-color: red;
}
.colorBlue{
    background-color: blue;
}

#eraserRange{
    width: 100%;
}
.eraserTool{
    height: 3.5rem;
    width: 10rem;
    border: 2px rgb(224, 28, 208) solid;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    position: absolute;
    top: 7rem;
    left: 37vw;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 3px;
}

.sticky-note-cont{
    height: 11rem;
    position: absolute;
    top: 13rem;
    left: 11rem;
    width: 10rem;
    

}
.sticky-note-header{
    height: 17%;
    width: 100%;
    display: flex;
    justify-content: end;
    gap:2px;
    cursor: pointer;
    border-radius: 10px 10px 0px 0px;
    border: 2px solid rgb(223, 9, 158);
}
.minimize-btn{
    color: green;
    display: flex;
    border-radius: 50%;
    align-items: center;
    margin-right: 0.3rem;
}
.cancel_btn{
    color: red;
    margin-right: 0.2rem;
    display: flex;
    align-items: center;
}
textarea{
    width: 97%;
    height: 97%;
    resize: none;
    outline: none;
    border: none;
}
.contentArea{
    width: 100%;
    height: 83%;
    border: 2px solid rgb(223, 9, 158);
    border-radius: 0px 0px 10px 10px;
    resize: none;
    outline: none;
}

img{
    height: 100%;
    width: 100%;
    border-radius: 0px 0px 10px 10px;
}
canvas{
    background-color: white;
}